
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", Arial;
}

:root {
    --gris: #B0B0B0;
    --negro: #222222;
    --morado: #394FD9;
    --blanco: #ffffff;
    --gris-bordes: #E0E0E2;
}

a {
    text-decoration: none;
    padding: 6px 8px;
    font-size: 14px;
    transition: ease-in-out 0.1s;
    color: var(--gris);
    /*justify-self: center;*/
}

.btn-morado {
    background: var(--morado);
    color: var(--blanco);
    border-radius: 8px;
}

.btn-morado:hover {
    color: var(--blanco);
}

