
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", Arial;
}

:root {
    --gris: #B0B0B0;
    --negro: #222222;
    --morado: #394FD9;
    --blanco: #ffffff;
    --gris-bordes: #E0E0E2;
}

a {
    text-decoration: none;
    padding: 9px 12px;
    font-size: 14px;
    transition: ease-in-out 0.1s;
    color: var(--gris);
    /*justify-self: center;*/
}

button {
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
    transition: ease-in-out 0.1s;
    color: var(--gris);
    border:none;
    /*justify-self: center;*/
}

.btn-morado {
    background: var(--morado);
    color: var(--blanco);
    border-radius: 8px;
    border: 1px solid var(--morado);
}

    .btn-morado:hover {
        color: var(--blanco);
        background: var(--morado);
    }

.btn-second {
    background: var(--blanco);
    border: 1px solid var(--morado);
    border-radius: 8px;
    color: var(--morado);
}

.titulo {
    font-size: 16px;
    color: var(--negro);
    font-weight:600;
}

.parrafo {
    font-size: 16px;
    color:var(--gris);
}

.seccion-registro-header{
    padding:20px;
    border:1px solid var(--gris-bordes);
    border-radius:10px;
}

.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 30px;
    max-width:1200px;
}



.control-label {
    margin-bottom: 8px;
    font-weight:500;
}

.nav-pills .nav-link.active {
    background: var(--blanco);
    color: var(--morado);
    border-bottom: 4px solid var(--morado);
    border-radius:0px;
    font-weight:600;
    transition:ease 0.1s;
}

.nav-pills .nav-link {
    color: var(--morado);
}

.btn-editar {
    background: #FFF0DB;
    border-radius: 8px;
    color: #db6004;
    
}

    .btn-editar:hover {
        background: #FFF0DB;
        border-radius: 8px;
        color: #db6004;
    }


.container-inputs {
    height: calc(79vh - 100px);
    display: grid;
    place-items: center;
    border: 1px solid var(--gris-bordes);
    border-radius: 10px;
}