
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", Arial;
}

:root {
    --gris: #B0B0B0;
    --negro: #222222;
    --morado: #394FD9;
    --blanco: #ffffff;
    --gris-bordes: #E0E0E2;
}


.tarjetas-contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 16px;
}

.tarjeta {
    border: var(--gris-bordes) solid 1px;
    border-radius: 10px;
    padding: 16px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:140px;
}

.texto-tarjeta {
    display: grid;
    gap: 4px;
}

.descripcion-tarjeta {
    margin-bottom: auto; /* Empuja el botón al fondo */
}

.boton-container {
    display: flex;
    justify-content: flex-end; /* Alinea el botón a la derecha */
}


.tarjeta:last-of-type{
    gap:0px;

}

.nombre-tarjeta {
    font-size: 14px;
    color: var(--negro);
    font-weight: 600;
    margin-bottom:0px;
}

.descripcion-tarjeta {
    font-size: 14px;
    color: var(--gris);
    margin:0;
}


.numero{
    font-size:42px;
    margin:0;
    font-weight:500;
}



@media (max-width: 950px) {
    .tarjetas-contenedor {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .tarjetas-contenedor {
        grid-template-columns: 1fr;
    }
}

/**/

.main{
    display:grid;
    gap:16px;
}