
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <section class="tarjetas-contenedor">
        <div class="tarjeta">
            <div class="texto-tarjeta">
                <h2 class="nombre-tarjeta">Agregar citas</h2>
                <p class="descripcion-tarjeta">Agrega una nueva cita en la barberia</p>
            </div>
            <div class="boton-container">
                <a class="btn-morado" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" href="#">Nueva cita</a>
            </div>
        </div>

        <div class="tarjeta">
            <p class="descripcion-tarjeta">Citas confirmadas</p>
            <h2 class="numero">0</h2>
            <p class="descripcion-tarjeta">Registros</p>
        </div>
        <div class="tarjeta">
            <p class="descripcion-tarjeta">Citas confirmadas</p>
            <h2 class="numero">0</h2>
            <p class="descripcion-tarjeta">Registros</p>
        </div>
        <div class="tarjeta">
            <p class="descripcion-tarjeta">Citas confirmadas</p>
            <h2 class="numero">0</h2>
            <p class="descripcion-tarjeta">Registros</p>
        </div>
    </section>
    <section class="VistaRegistros">
        <section class="encabezado-header">
            <div class="texto-tabla">
                <h2 class="titulo-tabla">Citas registradas</h2>
                <p class="descripcion-tabla">Citas que se agregaron recientemente</p>
            </div>
            <div class="acciones-tabla d-flex align-items-start gap-2 ">
                <select class="form-select select-tabla" aria-label="Default select example">
                    <option class="seleccionar" selected>Seleccionar</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <input type="email" class="form-control input-tabla" id="exampleFormControlInput1" placeholder="Buscador">
            </div>
        </section>
        <section class="navegador mt-3">
            <ul class="d-flex nav  nav-underline navegador-tabla">
                <li class="nav-item ">
                    <a class="nav-link seccion-activa-tabla" aria-current="page" href="#">Confirmadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pendientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Finalizadas</a>
                </li>
            </ul>
        </section>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Erick</td>
                    <td>Caceres</td>
                    <td>77774562</td>
                    <td>9:30 am</td>
                    <td><div class="estado-activo">Activo</div></td>
                    <td><a href="#">Editar</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-contenido">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
            </div>
        </div>
    </div>
</div>





