
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <section class="tarjetas-contenedor">
        <div class="tarjeta">
            <h2 class="nombre-tarjeta">Agregar citas</h2>
            <p class="descripcion-tarjeta">Agrega una nueva cita en la barberia</p>
            <a class="btn-morado" href="#">Registrar</a>
        </div>
        <div class="tarjeta">
            <h2>Agregar citas</h2>
            <p>Agrega una nueva cita en la barberia</p>
            <a href="#">Registrar</a>
        </div>
        <div class="tarjeta">
            <h2>Agregar citas</h2>
            <p>Agrega una nueva cita en la barberia</p>
            <a href="#">Registrar</a>
        </div>
        <div class="tarjeta">
            <h2>Agregar citas</h2>
            <p>Agrega una nueva cita en la barberia</p>
            <a href="#">Registrar</a>
        </div>
    </section>
    <section class="VistaRegistros">

    </section>
</main>

